
// Filters (.filters)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.filter-toggle {  //mobile filter accordion toggler (hidden on desktop)
  display: flex;
  padding: 1.5rem 1rem 0rem 1rem;
  @include media-breakpoint-up(md) {
    display: none !important;
  }
  .btn {
    margin-left: auto;
  }
}
.filters {
  border-bottom: $border-width $border-color solid;
  @include media-breakpoint-up(md) {
    display: block !important;
    border-bottom-width: 0;
  }
  .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem ;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      padding-top: 1rem;
      padding-bottom: 0;
      flex-direction: row;
    }

    form:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  select, .input-group {
    width: auto;
    @include media-breakpoint-up(md) {
      max-width: 25%;
      flex-grow: 1;

      &:not(:last-child) {
        margin: 0 1rem 0 0;
      }
    }
  }
}
