
// Servers list group styling (#servers)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#servers {
  margin-top: 1rem ;
  margin-bottom: 4rem;

  .list-group-item {
    transition: $transition-base;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
    @include media-breakpoint-up(md) {
      align-items: center;
      padding: 1rem 1.5rem;
    }
    &:hover, &:focus {
    //z-index: 0;
    }
  }
  .list-group-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
    }
  }
  h6 {
    @include media-breakpoint-up(md) {
      min-width: 12rem;
      margin-bottom: 0;
    }
  }
  .heartbeat, .timezone {
    display: flex;
    font-size: $font-size-sm;
    margin:0 0 .25rem 0;
    @include media-breakpoint-up(md) {
      min-width: 10rem;
      margin:0;
    }
    .icon {
      margin: -2px .25rem 0 0;
    }
  }

 // Server actions

  .list-group-actions {
    display: flex;
    flex-direction: column-reverse;
    .dropdown-toggle {
      margin-top: -4px;
      margin-left: auto;
      padding-right: .5rem;
    };

    .btn {
      width: 5rem;
    }
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      min-width: 17rem;
      .dropdown-toggle {
        margin-left: 1rem;
        margin-top: 0;
      }
    }
  }
  .custom-checkbox  {
    padding: .25rem .5rem .5rem 0;
    @include media-breakpoint-up(md) {
      padding: .5rem .5rem .5rem 0;
      margin-right: .5rem;
    }
  }
  .custom-control-label:before{
    background-color:$gray-400;
}
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: $success;
  }


  label.custom-control-label {
    position: relative;
    padding-right: 1.5rem;
  }
  label.custom-control-label::before, label.custom-control-label::after{
    right: 0;
    left: auto;
    border-radius: $border-radius-sm;
  }
}


// Border width edit for .list-group-item lower border

#servers

.list-group-item {
  margin-bottom: 0;
  border-bottom: 1px solid $border-color;
  &:not(:first-child) {
    border-top: 1px;
  }
}

// Missed heartbeat styling (JS adds .fire class added to .list-group-item)

#servers .list-group-item {
  .icon-heartbeat-fail {
    display: none;
  }
  .icon-heartbeat {
    display: block;
  }
}

#servers .list-group-item.fire {
  .heartbeat {
    color: $primary;
  }
  &::before{
    content:'';
    width:4px;
    height: calc(100% - 2rem);
    background:$primary;
    position:absolute;
    left:-2px;
    top: 1rem;
    border-radius: 0 3px 3px 0;
  }
  .h6 {
    color: $primary;
  }
  .icon-heartbeat-fail {
    display: block;
  }
  .icon-heartbeat {
    display: none;
  }
}

// List group enable/disable background styling (JS adds .disabled class to .list-group-item)

.list-group-item.disabled {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, $white 8px, $white 16px);
  background-color: rgba(0,0,0,0.01);
  color: $gray-900;
}
