<div class="modal fade" id="add-contact-method" tabindex="-1" role="dialog" aria-labelledby="add-team-label" aria-hidden="true"{% if request.url_rule.endpoint == 'views_account.add_contact_method' %} data-display-open="true" {% endif %}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-team-label">Add contact method</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ url_for('views_account.add_contact_method') }}" method="POST">
        {{ add_contact_form.csrf_token }}
        <div class="modal-body">
          {{ form_select_field("add_contact", add_contact_form.method) }}
          {{ form_text_field("add_contact", add_contact_form.contact) }}
          {{ form_text_field("add_contact", add_contact_form.priority, type="number") }}
          {{ form_checkbox_field("add_contact", add_contact_form.send_pages) }}
          {{ form_checkbox_field("add_contact", add_contact_form.send_failures) }}
          <i>By selecting "send pages" you'll also recieve pager messages via this method while you're on-call.</i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-lg btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
