<div class="modal fade" id="add-existing-users" tabindex="-1" role="dialog" aria-labelledby="add-existing-users-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-existing-users-label">Add users</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/manage_team/{{team.id}}/add_users" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label" for="users">Users</label>
            <select id="users" class="form-control form-control-lg custom-select" multiple name="users">
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-lg btn-primary">Add users</button>
        </div>
      </form>
    </div>
  </div>
</div>
