<div class="modal fade" id="add-user" tabindex="-1" role="dialog" aria-labelledby="add-user-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-stage-1 modal-content fade show">
      <div class="modal-header">
        <h4 class="modal-title" id="add-user-label">Add user</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="new-user-form" action="/admin/manage_user/add" method="POST">
        {{ add_user_form.csrf_token }}
        <div class="modal-body">
          {{ form_text_field("add_user", add_user_form.name) }}
          {{ form_text_field("add_user", add_user_form.email, type="email") }}
          {{ form_select_field("add_user", add_user_form.timezone) }}
          {{ form_select_field("add_user", add_user_form.primary_team) }}
          <i>A password will be generated for the user.</i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-lg btn-primary">Add user</button>
        </div>
      </form>
    </div>
    <div class="modal-stage-2 modal-content fade d-none" aria-hidden="true">
      <div class="modal-header">
        <h4 class="modal-title">User added</h4>
      </div>
      <div class="modal-body success">
        <p>The user's password is:</p>
        <pre id="new-user-password"></pre>
        <i>This will not be shown again.</i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
