<div class="modal fade" id="add-team" tabindex="-1" role="dialog" aria-labelledby="add-team-label" aria-hidden="true"{% if request.url_rule.endpoint == 'views_admin.add_team' %} data-display-open="true" {% endif %}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-team-label">Add team</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/add_team" method="POST">
        {{ add_team_form.csrf_token }}
        <div class="modal-body">
          {{ form_text_field("add_team", add_team_form.name) }}
          {{ form_select_field("add_team", add_team_form.escalates_to) }}
          <i>Users can be added after creating the team.</i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-lg btn-primary">Add team</button>
        </div>
      </form>
    </div>
  </div>
</div>
