{% macro role_modal(user, roles) %}
  <div class="modal fade" id="manage-roles-{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="manage-roles-label-{{user.id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="manage-roles-label-{{user.id}}">{{user.name}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="user" value="{{user.id}}">
          <div class="modal-body">
            {% for role in roles %}
              <div class="form-check">
                <input
                  id="role-check-{{user.id}}-{{role.id}}"
                  name="role-{{user.id}}-{{role.id}}"
                  {# The normal relationship check does not work with teams for
                some reason #}
                  {% if role.id in user.roles|map(attribute='id') %}
                    checked
                  {% endif %}
                  type="checkbox"
                  class="form-check-input">
                <label for="role-check-{{user.id}}-{{role.id}}" class="form-check-label">{{role.description}}</label>
              </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="submit" name="action" value="manage_roles" class="btn btn-secondary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endmacro %}
