
<!-- Modal - Message tater (hidden until JS triggered) -->

<div class="modal fade" id="message-tater" tabindex="-1" role="dialog" aria-labelledby="taketater" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{{ url_for('views.send_message') }}" method="post">
        {{ message_form.csrf_token }}
        <div class="modal-header">
          <h4 class="modal-title text-center" id="exampleModalLabel">Message the tater holder</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <textarea class="form-control input-focused" id="message" name="message" placeholder="Message..."></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-lg btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
