{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% from "forms/macros.html.j2" import form_text_field, form_checkbox_field, form_select_field %}

{% block body %}


{% include "modals/add_server.html" %}

<!-- Page header -->

<div  id="server-header" class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h4">Servers</h1>
      <div class="page-title-meta">
        {% if num_missed_hbeats >= 1 %}
        <img class="icon" src="{{ url_for('static', filename='img/icons/icon-heartbeat-fail.svg') }}" alt="">
        {% endif %}
        {%- if num_missed_hbeats == 1 -%}
        <p>{{ num_missed_hbeats }} server has missed heartbeats <a href="{{ url_for('views_servers.get_servers', filter='missed-heat') }}">View</a></p>
        {%- elif num_missed_hbeats > 1 -%}
        <p>{{ num_missed_hbeats }} servers have missed heartbeats <a href="{{ url_for('views_servers.get_servers', filter='missed-hbeat') }}">View</a></p>
        {%- endif -%}
      </div>
    </div>
    <div class="actions"> <!-- Actions menu -->
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addServerModal">Add server</button>
    </div>
  </div>
</div>


<!-- Filters -->
<form action="{{ url_for('views_servers.get_servers')}}" method="GET">
  <div id="server-filters" class="filters">
    <div class="container">
      <select class="form-control" id="sort-servers" name="filter" onchange="this.form.submit()">
        <option value="all"{% if not filter or filter == 'all' %} selected{% endif %}>All servers</option>
        <option value="missed-hbeat"{% if filter == 'missed-hbeat' %} selected{% endif %}>Missed heartbeat</option>
      </select>
    </div>
  </div>
</form>

<div id="servers" class="container">
  {%- for serv in servs -%}
    {%- set missed_hbeat = not serv.last_hbeat or (now - serv.last_hbeat).seconds > 300 -%}

  <div class="list-group-item{% if missed_hbeat %} fire{% endif %}">
    <div class="list-group-text">
      <h6>{{ serv.hostname }}</h6>
      <div class="heartbeat">
        {%- if missed_hbeat -%}
        <img class="icon" src="{{ url_for('static', filename='img/icons/icon-heartbeat-fail.svg') }}" alt="">
        {%- else -%}
        <img class="icon icon-sm icon-secondary" src="{{ url_for('static', filename='img/icons/icon-heartbeat.svg') }}" alt="">
        {%- endif -%}
        {% if serv.last_hbeat %}
        <span data-toggle="tooltip" title="{{ to_local_time(serv.last_hbeat, tz=current_user.timezone, format_='%Y-%m-%d %H:%M:%S %z') }}">{{ to_local_time(serv.last_hbeat, tz=current_user.timezone, format_='%I:%M %p %d/%m/%y')}}</span>
        {% else %}
        <span>Never</span>
        {% endif %}
      </div>
      <div class="timezone"><img class="icon icon-secondary" src="{{ url_for('static', filename='img/icons/icon-time.svg') }}" alt="">{{ serv.timezone }}</div>
    </div>
    <div class="list-group-actions">
      <img class="icon mr-3" src="{{ url_for('static', filename='img/icons/icon-bell.svg') }}" alt="">
      <form action="{{ url_for('views_servers.server_toggle_heartbeat', server_id=serv.id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button class="btn btn-secondary mr-3" type="submit" data-toggle="tooltip" title="Alert on Heartbeat">
              {% if serv.enable_heartbeat %}
              ✔ True
              {% else %}
              ✘ False
              {% endif %}
          </button>
      </form>
      <form
        action="{{ url_for('views_servers.server_toggle_missed_heartbeat', server_id=serv.id)}}"
        method="POST"
      >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button class="btn btn-secondary" type="submit" data-toggle="tooltip" title="Downtime Heartbeat Alert">
              {% if serv.disable_missed_heartbeat_notif %}
              ✔ True
              {% else %}
              ✘ False
              {% endif %}
          </button>
      </form>
      <a class="dropdown-toggle no-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="icon" src="{{ url_for('static', filename='img/icons/icon-more.svg') }}" alt="">
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-action">
        <a class="dropdown-item" href="{{ serv.link }}">Go to server url</a>
      </div>
    </div>
  </div>
  {%- endfor -%}

  </div>
</div>

{% endblock %}
{% include "footer.html" %}
