{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}

{% block body %}

<div class="table-responsive">
  <form action="{{ url_for('views_pages.ack_pages') }}" method="POST">
    <table class="table table-responsive table-striped table-hover table-bordered" width="100%" cellspacing="0">
      {%- if request.path == "/pages/failed" %}
      <thead>
        <tr>
          <th><input type="checkbox" class="check" id="checkAll"></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      {%- endif -%}
      <tbody>
        {%- for page in ales %}
        <tr class=title>
          {%- if request.path == "/pages/failed" %}
          <td><input type="checkbox" class="select-item checkbox check" name="{{ page.id }}"></td>
          {%- endif -%}

          {%- if page.json["state"] == "DOWN" or page.json["state"] == "CRITICAL" or page.json["state"] ==
          "UNREACHABLE" -%}
          <td class="bg-danger">
            {%- elif page.json["state"] == "WARNING" -%}
          <td class="bg-warning">
            {%- elif page.json["state"] == "CUSTOM" or page.json["state"] == "UNKNOWN" -%}
          <td class="bg-info">
            {%- elif page.json["state"] == "UP" or page.json["state"] == "OK" -%}
          <td class="bg-success">
            {%- else -%}
          <td>
            {%- endif -%}

            <center>
              <p><strong>{{ page.json["state"] }}</strong></p>
              {%- if request.path == "/pages/failed" %}
              <p><span class="glyphicon glyphicon-alert" aria-hidden="true"></span></p>
              {%- else -%}
              <p>{%- if page.has_been_sent() %}<a href="/pages/{{page.id}}"><span class="glyphicon glyphicon-link"
                    aria-hidden="true"></span></a>{%- elif page.json["state"] == "WARNING" %}−{%- else %}<a href="/pages/failed"><span
                    class="glyphicon glyphicon-alert" aria-hidden="true"></span></a>{%- endif %}</p>
              {%- endif -%}
              {% if page.json["trouble_code"] %}
              <p>
                {%- if config.get("HOTPOTATO_TROUBLECODE_URL") -%}
                <a href="{{ config.get('HOTPOTATO_TROUBLECODE_URL').format(trouble_code=page.json['trouble_code']) }}">{{
                  page.json["trouble_code"] }}</a>
                {%- else -%}
                {{ page.json["trouble_code"] }}
                {%- endif -%}
              </p>
              {% else %}
              <p><i>NO TC</i></p>
              {% endif %}
            </center>
          </td>

          <td>
            <p><a href="ssh://{{ page.json['display_name'] }}"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></a>
              <b>{{ page.json["hostname"] }}</b></p>
            {% if page.json["service_name"] %}
            <p>{{ page.json["service_name"] }}</p>
            {% endif %}
            <p><code>{{ page.json["output"]|wordwrap(110) }}</code></p>
          </td>
          <td class="col-md-2">
            <center>
              <p>{{ to_local_time(page.timestamp_get_as_datetime(), tz=current_user.timezone) }}</p>
              <p>
                {% if page.json["service_name"] %}
                <button type="button" class="btn btn-default btn-copy js-tooltip js-copy" data-toggle="tooltip"
                  data-placement="bottom" title="Copy details to clipboard" data-copy="{{ to_local_time(page.timestamp_get_as_datetime(), tz=current_user.timezone) }} {{ page.json['service_name'] }} on {{ page.json['hostname'] }} is {{ page.json['state'] }}: {{ page.json['output'] }}"><span
                    class="glyphicon glyphicon-copy" aria-hidden="true"></button>
                {% else %}
                <button type="button" class="btn btn-default btn-copy js-tooltip js-copy" data-toggle="tooltip"
                  data-placement="bottom" title="Copy details to clipboard" data-copy="{{ to_local_time(page.timestamp_get_as_datetime(), tz=current_user.timezone) }} {{ page.json['hostname'] }} is {{ page.json['state'] }}: {{ page.json['output'] }}"><span
                    class="glyphicon glyphicon-copy" aria-hidden="true"></button>
                {% endif %}
              </p>
              <p><b>{{ servers.get(page.json["server_id"]).hostname }}</b></p>
            </center>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {%- if request.path == "/pages/failed" %}
    <button id="ack" value="Ack" class="btn button-default">Ack</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>
  {%- endif -%}
</div>

{% endblock %}
{% include "footer.html" %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function () {
    $(".from").datepicker({
      constrainInput: false,
      dateFormat: "yy-mm-dd",
    });
  });
  $(function () {
    $(".to").datepicker({
      constrainInput: false,
      dateFormat: "yy-mm-dd",
    });
  });
</script>
<script>
  $("#checkAll").click(function () {
    $(".check").prop('checked', $(this).prop('checked'));
  });
</script>
<script>
  function copyToClipboard(text, el) {
    var copyTest = document.queryCommandSupported('copy');
    var elOriginalText = el.attr('data-original-title');

    if (copyTest === true) {
      var copyTextArea = document.createElement("textarea");
      copyTextArea.value = text;
      document.body.appendChild(copyTextArea);
      copyTextArea.select();
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'Copied!' : 'Whoops, not copied!';
        el.attr('data-original-title', msg).tooltip('show');
      } catch (err) {
        console.log('Oops, unable to copy');
      }
      document.body.removeChild(copyTextArea);
      el.attr('data-original-title', elOriginalText);
    } else {
      // Fallback if browser doesn't support .execCommand('copy')
      window.prompt("Copy to clipboard: Ctrl+C or Command+C, Enter", text);
    }
  }

  $(document).ready(function () {
    // Initialize
    // ---------------------------------------------------------------------

    // Tooltips
    // Requires Bootstrap 3 for functionality
    $('.js-tooltip').tooltip();

    // Copy to clipboard
    // Grab any text in the attribute 'data-copy' and pass it to the
    // copy function
    $('.js-copy').click(function () {
      var text = $(this).attr('data-copy');
      var el = $(this);
      copyToClipboard(text, el);
    });
  });
</script>
