<nav class="navbar-custom navbar-light navbar-expand-sm">
  <a href="{{url_for('views_notifications.notifications_get')}}" class="navbar-brand"><img src="{{ url_for('static', filename='img/tater-logo-app.svg') }}" alt="Hot Potato Logo - A violently flaming potato"></a>
  <button class="navbar-toggler no-focus" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <img class="icon icon-navbar-toggler" src="{{ url_for('static', filename='img/icons/icon-hamburger.svg') }}" alt="Main menu button">
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item{% if request.url_rule.endpoint == 'views_notifications.notifications_get' or request.url_rule.endpoint == 'views.main_site' %} active{% endif %}">
          <a class="nav-link" href="{{url_for('views_notifications.notifications_get')}}">
            Notifications
            {% if request.url_rule.endpoint == 'views_notifications.notifications_get' or request.url_rule.endpoint == 'views.main_site' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item mr-auto{% if request.url_rule.endpoint == 'views_servers.get_servers' %} active{% endif %}">
          <a class="nav-link" href="{{url_for('views_servers.get_servers')}}">Servers</a>
          {% if request.url_rule.endpoint == 'views_servers.get_servers' %}<span class="sr-only">(current)</span>{% endif %}
        </li>
        <li class="nav-item">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{current_team.name}}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              {% for team in current_user.teams %}
                <a class="dropdown-item p-2" href="?team_id={{team.id}}">{{team.name}}</a>
              {% endfor %}
            </div>
          </div>
        </li>
        <li class="nav-item account dropdown">
          {# Caution: This element's id is used by the tests. #}
          <a class="nav-link dropdown-toggle" href="#" id="account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ current_user.name|default(current_user.email, true) }}
            <img class="icon" src="{{ url_for('static', filename='img/icons/icon-user.svg') }}" aria-hidden="true">
          </a>
          <div class="dropdown-menu" aria-labelledby="account-dropdown">
            <a class="dropdown-item p-2" href="{{url_for('views_account.manage_account')}}">Account Settings</a>
            <a class="dropdown-item p-2" href="{{url_for('security.change_password')}}">Change Password</a>
            {% if roles.get_by_name(hotpotato_team().id, "admin") in current_user.roles %}
              <a class="dropdown-item p-2" href="{{url_for('views_admin.admin')}}">Admin</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item p-2" href="{{url_for('security.logout')}}">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
