{%- with messages = get_flashed_messages(with_categories=true) -%}
  {% if messages %}
    <div class="container">
      {% for category, message in messages %}
        {% if category == "info" or category == "message" %}
          <div class="alert alert-dismissible alert-info fade show flex-grow-1">
        {% elif category == "success" %}
          <div class="alert alert-dismissible alert-success fade show flex-grow-1">
        {% elif category == "warning" %}
          <div class="alert alert-dismissible alert-warning fade show flex-grow-1">
        {% elif category == "error" %}
          <div class="alert alert-dismissible alert-danger fade show flex-grow-1">
        {% else %}
          <!-- Unknown message category: {{ category }} -->
          <div class="alert alert-dismissible alert-info flex-grow-1">
        {% endif %}
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {% endfor %}
    </div>
  {% endif %}
{%- endwith %}
