{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}
{% from "forms/macros.html.j2" import form_text_field, form_checkbox_field, form_select_field %}

{% block body %}

<div class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h3">Admin</h1>
    </div>
    <div class="actions"> <!-- Actions menu -->
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#add-team">Add team</button>
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#add-user">Add user</button>
    </div>
  </div>
</div>

<div class="container mt-sm-3 mb-sm-3">
  <h4>Teams</h4>
</div>

<div class="container">
  {% for team in teams %}
  <div class="card mb-sm-3">
    <div class="card-body">
      <div class="card-title">
        <h6 class="d-inline mr-sm-2"><a href="{{url_for('views_admin.manage_team', _team_id=team.id)}}">{{team.name}}</a></h6>
        {% if team.on_call %}
        <span class="badge badge-secondary">On call: {{team.on_call.name|default(team.on_call.email)}}</span>
        {% endif %}
      </div>
      <div class="card-text">
        <div>
          {% if team.escalates_to %}
            Escalates to <a href="{{url_for('views_admin.manage_team', _team_id=team.escalates_to.id)}}">{{team.escalates_to.name}}</a>
          {% else %}
            Does not escalate
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% include "modals/add_team.html" %}

{% include "modals/add_user.html" %}

{% endblock %}

{% include "footer.html" %}
