{% include "header.html" %}
{% include "menu.html" %}
{% include "failed_alerts.html" %}

{% block body %}

{# Used in JS #}
<div id="team-id" aria-hidden="true" style="display: none;">{{team.id}}</div>

<div class="header">
{% include "messages.html" %}
  <div class="container">
    <div class="page-title">
      <h1 class="h4">{{team.name}}</h1>
    </div>
    <div class="actions"> <!-- Actions menu -->
      <form class="form-inline" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mr-sm-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-existing-users">Add existing users</button>
        </div>
        <div>
          <button
            name="action"
            class="btn btn-danger"
            type="submit" value="delete"
            {% if team.name == HOTPOTATO_TEAM_NAME or team.escalated_from|length > 0 %}
            disabled
            {% endif %}>
            Remove team
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-sm-3">
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="action" value="escalates_to">
    <div class="form-group row">
      <label for="escalates-to" class="col-form-label col-sm-2">Escalates to</label>
      <select id="escalates-to" name="escalates_to" class="form-control col-sm-2">
        <option value>None</option>
        {% for other in teams %}
          <option {% if team.escalates_to == other %}selected{% endif %} value="{{other.id}}">{{other.name}}</option>
        {% endfor %}
      </select>
    </div>
  </form>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <h6 class="mb-sm-3">Users</h6>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Primary team</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for user in team.users %}
                <tr>
                  <th>{{user.name}}</th>
                  <th>{{user.primary_team.name}}</th>
                  <th>
                    {% if team.on_call.id == user.id %}
                      <span class="badge badge-primary">On call</span>
                    {% endif %}
                    {% for role in user.roles if role.team_id == team.id %}
                      <span class="badge badge-secondary">{{role.description}}</span>
                    {% endfor %}
                  </th>
                  <th>
                    <a class="dropdown-toggle btn-icon no-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="icon" src="/static/img/icons/icon-more.svg?team_id=418477658764738561" alt=""></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-action" x-placement="bottom-end" style="position: absolute; transform: translate3d(934px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                      <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="user" value="{{user.id}}">
                        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#manage-roles-{{user.id}}">Manage roles</button>
                        {% if user.primary_team.id != team.id %}
                          <button type="submit" class="dropdown-item" name="action" value="set_primary">Set primary</button>
                        {% endif %}
                        <button
                          type="submit"
                          class="dropdown-item"
                          name="action"
                          value="remove_user"
                          {% if user.primary_team.id == team.id or team.on_call.id == user.id %}
                          disabled
                          {% endif %}
                          >Remove</button>
                      </form>
                    </div>

                  </th>
                </tr>
              {% else %}
                <tr>
                  <th colspan="3" style="text-align: center;">No users</th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
          <h6 class="mb-sm-3">Roles</h6>
          <ul class="list-group">
            {% for role in roles.get_by(team_id=team.id) %}
              <li class="list-group-item">
                {{role.description}}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "modals/add_existing_users.html" %}

{% for user in team.users %}
  {% from "modals/manage_roles.html" import role_modal %}
  {{ role_modal(user, team.roles) }}
{% endfor %}

{% endblock %}

{% include "footer.html" %}
