{% macro display_notifications(notifications, acknowledge_form) %}
  {% set ns = namespace(date=None) %}
  {% for notif in notifications %}
    {% set notif_date = to_local_time(notif.Notification.received_dt, tz=current_user.timezone, format_='%A, %d %b %Y') %}
    {% if notif_date != ns.date %}
      {% if ns.date %}
        {# Close the previous 'notif-group' tag #}
        </div>
      {% endif %}
      <div class="container notif-group">
        <div class="date">{{ notif_date }}</div>
      {% set ns.date = notif_date %}
    {% endif %}
    <div class="card-wrapper">
      {% if notif.Notification.notif_type == "alert" %}
      <a class="server-link" href="{{ notif.Server.link }}"><img class="icon" src="{{ url_for('static', filename='img/icons/icon-external-link.svg') }}" alt=""></a>
      {% endif %}
      <a class="dropdown-toggle btn-icon no-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="icon" src="{{ url_for('static', filename='img/icons/icon-more.svg') }}" alt=""></a>
      <div class="dropdown-menu dropdown-menu-right dropdown-action" aria-labelledby="navbarDropdown">
        <a
          class="dropdown-item"
          href="{{ url_for('views_notifications.notifications_get_by_id', notif_id=notif.Notification.id) }}">
          Details
        </a>
        <button
          type="button"
          class="dropdown-item link-copy"
          data-clipboard-text="{{ request.url_root }}{{ url_for('views_notifications.notifications_get_by_id', notif_id=notif.Notification.id)[1:] }}">
          Copy link
        </a>
        <button
          type="button"
          class="dropdown-item link-copy"
          data-clipboard-text="{{ notif.Notification.body }}">
          Copy summary
        </button>
        {% if notif.Notification.json['status'] == 'SEND_FAILED' %}
          <form
            action="{{url_for('views_notifications.acknowledge',
            notif_id=notif.Notification.id, **request.args)}}"
            method="POST">
            {{acknowledge_form.csrf_token}}
            <button class="text-danger dropdown-item">Acknowledge</button>
          </form>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="collapse" href="#collapse{{ notif.Notification.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
          Show raw data
        </a>
      </div>
      <div class="card{% if notif.Notification.is_critical or notif.Notification.failed_to_send() %} fire{% endif %}">
        {{ render_notification_icon(notif.Notification) }}
        {{ render_notification_card(notif) }}
        </div>
      </a>
    </div>
  {% endfor %}

  {% if ns.date %}
    {# Close the previous 'notif-group' tag #}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_notification_icon(notif, link=True) %}
  {% if notif.notif_type == "alert" %}
    {% if notif.is_critical %}
      {% set title = "Critical Alert" %}
      {% set icon = url_for('static', filename='img/icons/icon-fire.svg') %}
    {% elif notif.json["state"] == "WARNING" %}
      {% set title = "Warning" %}
      {% set icon = url_for('static', filename='img/icons/icon-alert.svg') %}
    {% elif notif.json["state"] == "UP" or notif.json["state"] == "OK" %}
      {% set title = "Status update" %}
      {% set icon = url_for('static', filename='img/icons/icon-thumb-up.svg') %}
    {% else %}
      {% set title = "Alert" %}
      {% set icon = url_for('static', filename='img/icons/icon-alert.svg') %}
    {% endif %}
  {% elif notif.notif_type == "handover" %}
    {% set title = "Handover" %}
    {% set icon = url_for('static', filename='img/icons/icon-next.svg') %}
  {% elif notif.notif_type == "message" %}
    {% set title = "Message" %}
    {% set icon = url_for('static', filename='img/icons/icon-message.svg') %}
  {% else %}
    {% set title = "Notification" %}
    {% set icon = url_for('static', filename='img/icons/icon-message.svg') %}
  {% endif %}
  {% if link %}
  <a href="{{ url_for('views_notifications.notifications_get_by_id',
  notif_id=notif.id) }}" class="card-icon" data-toggle="tooltip"
  data-placement="top" title="{{ title }}">
  {% endif %}
    <img class="icon" src="{{ icon }}" alt="{{ title }}">
  {% if link %}
  </a>
  {% endif %}
{% endmacro %}

{% macro render_notification_title(notif) %}
  {% if notif.Notification.notif_type == "alert" %}
    {% if notif.Notification.json["service_name"] %}
      <span class="service">{{ notif.Notification.json["service_name"] }}</span>
      <span class="text-subtle"> on </span>
    {% endif %}
    <span class="hostname"{% if notif.Notification.json["display_name"] %} data-toggle="tooltip" data-placement="top" title="{{ notif.Notification.json["display_name"] }}"{% endif %}>
      {{ notif.Notification.json["hostname"] }}
    </span>
  {% elif notif.Notification.notif_type == "handover" %}
    {%- set to_user = notif.to_user -%}
    {%- set from_user = notif.from_user -%}
    <span class="tater-holder">{{ render_user(to_user, link=False) }}{% if to_user.id == notif.user_id %}<small>(recipient)</small>{% endif %}</span>
    {% if from_user %}
      <span class="text-subtle">has taken over the pager from</span>
      <span class="tater-giver">{{ render_user(from_user, link=False) }}{% if from_user.id == notif.user_id %}<small>(recipient)</small>{% endif %}</span>
    {% else %}
      <span class="text-subtle">has taken the pager</span>
    {% endif %}
  {% elif notif.Notification.notif_type == "message" %}
    {%- set from_user = notif.from_user -%}
    {% if from_user %}
      {{ render_user(from_user, link=False) }}
    {% else %}
      Hot Potato
      <span class="badge badge-secondary font-weight-normal">internal</span>
    {% endif %}
  {% else %}
  {% endif %}
  {% if notif.Notification.json["trouble_code"] and config.get('HOTPOTATO_TROUBLECODE_URL') -%}
    &mdash; <a href="{{ config.get('HOTPOTATO_TROUBLECODE_URL').format(trouble_code=notif.Notification.json['trouble_code']) }}">{{ notif.Notification.json["trouble_code"] }}</a>
  {%- endif -%}
{% endmacro %}

{% macro render_notification_card(notif) %}
  {% set notif_time = to_local_time(notif.Notification.received_dt, tz=current_user.timezone, format_='%Y-%m-%d %I:%M %p') %}
  {% set notif_dt = to_local_time(notif.Notification.received_dt, tz=current_user.timezone, format_='%Y-%m-%d&nbsp;%H:%M:%S %z') %}
  <div class="card-body">
    <div class="card-title">
      <h2 class="h6">{{render_notification_title(notif)}}</h2>
    </div>
    <div class="card-text">
      <div>
        <span class="time" data-toggle="tooltip" title="{{ notif_dt }}">{{ notif_time }}</span>
        <span class="message">
          {% set truncate_len = 500 %}
          {% set elipsis = render_elipsis(link=url_for('views_notifications.notifications_get_by_id', notif_id=notif.Notification.id)) %}
          {% if notif.Notification.notif_type == "alert" %}
            {% set hyphen = joiner(" &mdash; ") %}
            {% if notif.Notification.json['state'] %}
              {{ hyphen() }}
              <span data-toggle="tooltip" title="Status">{{ notif.Notification.json['state'] }}</span>
            {% endif %}
            {% if notif.Notification.json['output'] %}
              {{ hyphen() }}
              <span class="message">{{ notif.Notification.json['output']|truncate(truncate_len, end=elipsis) }}</span>
            {% endif %}
          {% elif notif.Notification.notif_type in ["handover", "message"] %}
            {% if notif.Notification.json['message'] %}
              {{ notif.Notification.json['message']|truncate(truncate_len, end=elipsis) }}
            {% else %}
              <i>(No message)</i>
            {% endif %}
          {% else %}
            {{ notif.Notification.body|truncate(truncate_len, end=elipsis) }}
          {% endif %}
        </span>
      </div>
      <div class="delivery">
        {{render_status(notif.Notification)}}
      </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="collapse" id="collapse{{ notif.id }}">
        <hr />
        <code><pre class="mb-0">{{ notif.Notification.as_json(indent=2) }}</pre></code>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_notification_details(notif) %}
  <table class="table">
    <tbody>
      {% if notif.notif_type == "alert" %}
        <tr>
          <th>State</th>
          <td>{{notif.json["state"]}}</td>
        </tr>
        {% if notif.json["alert_type"] == "service" %}
          <tr>
            <th>Service</th>
            <td>{{notif.json["service_name"]}}</td>
          </tr>
        {% endif %}
        <tr>
          <th>Host</th>
          <td>{{notif.json["hostname"]}}</td>
        </tr>
        <tr>
          <th>Source</th>
          <td>{{notif.Server.hostname}}</td>
        </tr>
        <tr>
          <th>Server time</th>
          <td>
            {{to_local_time(
              util.datetime_get_from_string(
                notif.Notification.json["timestamp"]
              ),
              tz=current_user.timezone
            )}}
          </td>
        </tr>
        <tr>
          <th>Output</th>
          <td>
            <textarea disabled class="form-control
            notif-message expanded">{{notif.Notification.json["output"]}}</textarea>
          </td>
        </tr>
      {% endif %}
      {% if "from_user_id" in notif.Notification.json and notif.Notification.json["from_user_id"] != None %}
        <tr>
          <th>From</th>
          <td>{{render_user(notif.from_user)}}</td>
        </tr>
      {% endif %}
      {% if "to_user_id" in notif.Notification.json and notif.Notification.json["to_user_id"] != None %}
        <tr>
          <th>To</th>
          <td>{{render_user(notif.to_user)}}</td>
        </tr>
      {% endif %}
      {% if notif.Notification.json["message"] %}
          <tr>
            <th>Message</th>
            <td><textarea disabled class="form-control notif-message expanded">{{notif.Notification.json["message"]}}</textarea></td>
          </tr>
      {% endif %}
    </tbody>
  </table>
{% endmacro %}

{% macro render_status(notif) %}
  {% if notif.has_been_received_by_client() %}
    Received by client
  {% elif notif.has_been_sent() %}
    Sent
  {% elif notif.is_sending() %}
    Sending
  {% elif notif.failed_to_send() %}
    Send failed
    {% if notif.send_failed_acknowledged() %}
      (Acknowledged)
    {% endif %}
  {% else %}
    Not yet sent
  {% endif %}
{% endmacro %}

{% macro render_user(user, link=False) %}
  {% if link %}
    <a href="#">
  {% endif %}
  {{ user.name }}
  {% if link %}
    </a>
  {% endif %}
{% endmacro %}

{% macro render_elipsis(link=False) -%}
  {% if link %}
    <a href="{{ link }}">
  {% endif %}
  &hellip;
  {% if link %}
    </a>
  {% endif -%}
{%- endmacro %}
