{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}

{% import "notifications/display.html.j2" as display %}

{% block body %}

<div id="notif-details-header" class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h5">{{display.render_notification_title(notif)}}</h1>
      <div class="page-title-meta">
        {{display.render_notification_icon(notif, link=False)}}
        <p>{{to_local_time(notif.Notification.received_dt, tz=current_user.timezone,
        format_='%I:%M:%S %p, %A %x')}}</p>
      </div>
    </div>
  </div>
</div>


<div id="notif-details" class="container">
  <div class="card-wrapper">
    {% if notif.Notification.json['status'] == 'SEND_FAILED' %}
    <a
      class="dropdown-toggle btn-icon no-toggle"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      <img
        class="icon"
        src="{{ url_for('static', filename='img/icons/icon-more.svg') }}"
        alt="">
    </a>
    <div
      class="dropdown-menu dropdown-menu-right dropdown-action"
      aria-labelledby="navbarDropdown">
      <form
        action="{{url_for('views_notifications.acknowledge',
        notif_id=notif.id, **request.args)}}"
        method="POST">
        {{form.csrf_token}}
        <button class="text-danger dropdown-item">Acknowledge</button>
      </form>
    </div>
    {% endif %}

    <div class="card">
        <div class="row">
          <div class="col-md-7">
            <h2 class="h6">Notification details</h6>
            <hr/>
            {{display.render_notification_details(notif)}}
          </div>
          <div class="col-md-5">
            <h2 class="h6">Delivery details</h6>
            <hr/>
            <table class="table">
              <tbody>
                <tr>
                  <th>Service</th>
                  <td>{{notif.Notification.json["provider"]}}</td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td>{{display.render_status(notif.Notification)}}</td>
                </tr>
                <tr>
                  <th>Sent to</th>
                  <td>{{notif.Notification.user.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <span>Hot Potato ID: {{notif.id}}</span>
          {% if notif.Notification.json["node_name"] %}
            <span>Node name: {{notif.Notification.json["node_name"]}}</span>
          {% endif %}
          {% if notif.Notification.json["provider"] and notif.Notification.json["provider_notif_id"] %}
            <span>
              {{notif.Notification.json["provider"]}} ID: {{notif.Notification.json["provider_notif_id"]}}
            </span>
          {% endif %}
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% include "footer.html" %}
