{% macro table_oncall_contacts(caption, contacts) %}
<table class="table table-striped">
  <caption>{{ caption }}</caption>
  <tr>
    <th>Priority</th>
    <th>Method</th>
    <th>Contact</th>
    <th>Send Notifications?</th>
    <th style="cursor: help" title="Send a notification when Hot Potato is unable to deliver a notification to an on-call user">Send failures?</th>
    <th>Send Test</th>
    {% if contacts %}<th><center>Delete</center></th>{% endif %}
  </tr>

  {% for contact in contacts -%}
  <tr>
    <td>{{ contact.priority }}</td>
    <td>{{ contact.method }}</td>
    <td>{{ contact.contact }}</td>

    <td class="bg-warning">
      <form
        action="{{ url_for('views_account.toggle_send_pages', contact_id=contact.id)}}"
        id="toggle-send:{{ contact.id }}"
        method="POST"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-secondary" form="toggle-send:{{ contact.id }}">
          {% if contact.send_pages -%}
            ✓ Yes
          {%- else -%}
            ✗ No
          {%- endif %}
        </button>
      </form>
    </td>

    <td class="bg-warning">
      <form
        action="{{ url_for('views_account.toggle_notify_on_fail', contact_id=contact.id)}}"
        id="toggle-failure:{{ contact.id }}"
        method="POST"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button
          type="submit"
          class="btn btn-secondary"
          form="toggle-failure:{{ contact.id }}">
          {% if contact.send_failures -%}
            ✓ Yes
          {%- else -%}
            ✗ No
          {%- endif %}
        </button>
      </form>
    </td>

    <td class="bg-warning">
      <form
        action="{{ url_for('views_account.send_test_message', contact_id=contact.id)}}"
        id="test-message:{{ contact.id }}"
        method="POST"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-secondary" form="test-message:{{ contact.id }}">
          Test
        </button>
      </form>
    </td>

    <td><center><input type="checkbox" name="{{ contact.id }}" id="{{ contact.contact }}" form="delete-form"></center></td>
  </tr>
  {%- endfor %}

  <tr>
    {% if util.enabled_sending_methods()|length != 0 %}
      <td class="bg-info text-center" colspan="6" style="vertical-align:middle">
        <b>
          <a href="#" data-toggle="modal" data-target="#add-contact-method">
            Add contact method
          </a>
        </b>
      </td>
    {% else %}
      <td class="bg-warning text-center" colspan="6" style="vertical-align:
      middle">
        <b>You cannot add a contact method because all methods are disabled.</b>
      </td>
    {% endif %}

    {% if contacts -%}
    <td class="bg-info"><center><button form="delete-form" class="btn btn-primary" type="submit">Delete</button></center></td>
    {%- endif %}
  </tr>
</table>
{% endmacro %}
