{% include "header.html" %}
{% include "menu.html" %}
{% from "account/oncall_contacts_table.html" import table_oncall_contacts %}
{% from "forms/macros.html.j2" import form_select_field_inner, form_field_label %}
{% from "forms/macros.html.j2" import form_text_field, form_checkbox_field, form_select_field %}

{% block body %}

{% include "modals/add_contact_method.html" %}

<div class="header">
  {% include "messages.html" %}
  <div class="container">
    <div class="page-title">
      <h2>Account</h2>
    </div>
  </div>
</div>

{% if user.last_login_ip != user.current_login_ip and user.last_login_ip != None %}
  <div class="container mt-sm-3">
  <center><div class="alert alert-danger" role="alert">
    <p><b>Heads up!</b> Your last login came from a different IP to your current:</p>
    <p><b>Current Login was from</b> {{ user.current_login_ip }} at {{ to_local_time(user.current_login_at, tz=current_user.timezone) }} ({{ user.timezone }})</p>
    <p><b>Previous Login was from</b> {{user.last_login_ip}} at {{ to_local_time(user.last_login_at, tz=current_user.timezone) }} ({{ user.timezone }})</p>
  </div></center>
  </div>
{% endif %}

<div class="container mt-sm-3">
  <h3>My contact methods</h3>
</div>

<div class="container mt-sm-3">
  <div class="card">
    <div class="card-body">
      <p>Hot Potato is built with the assumption that everyone has a physical pager. There's no way to stop messages being sent to the pager at this time.</p>
      <p>The system shall attempt to contact you via the methods below if there is a fault with paging and you are on-call or if you specifically enable sending SMS messages to yourself.</p>

      <form action="{{ url_for('views_account.remove_contact_methods') }}" method="POST" id="delete-form"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/></form>

      {{ table_oncall_contacts("Verifiable Contact Methods", verifiable_contacts) }}
      {{ table_oncall_contacts("Unverifiable Contact Methods", unverifiable_contacts) }}
    </div>
  </div>
</div>

<div class="container mt-sm-4">
  <h3>My timezone</h3>
</div>

<div class="container mt-sm-4 mb-sm-4">
  <div class="card">
    <div class="card-body">
      <p>This is the timezone that Hot Potato will format times into for you.</p>

      <form action="/account/tz" method="POST">
        {{ timezone_form.csrf_token }}
        {{ form_field_label("timezone", timezone_form.timezone) }}
        <div class="form-row">
          {{ form_select_field_inner("timezone", timezone_form.timezone, auto_width=True) }}
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-sm-4">
  <h3>My teams</h3>
</div>

<div class="container mt-sm-4 mb-sm-4">
  <div class="card">
    <div class="card-body">
      <div class="card-content">
        <div class="list-group">
          {% set primary_team = current_user.primary_team %}
          {% for team in user.teams %}
            <div class="list-group-item d-flex flex-row align-items-baseline justify-content-between">
              <div class="d--flex flex-grow-1">
                <b>{{team.name}}</b>
              </div>
              <div class="d-inline-flex">
                <form action="{{url_for('views_account.account_team')}}" class="form-inline" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <input type="hidden" name="team_id" value="{{team.id}}">
                  <div>
                    <button
                      type="submit"
                      name="action"
                      value="set_primary"
                      class="form-control btn btn-outline-secondary"
                      {% if team.id == primary_team.id %}disabled{% endif %}
                      >Set primary</button>
                    <button
                      type="submit"
                      name="action"
                      value="leave"
                      class="form-control btn btn-outline-secondary"
                      {% if team.id == primary_team.id %}disabled{% endif %}
                      >Leave</button>
                  </div>
                </form>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% include "footer.html" %}
